.experience-info2 {
    display: flex;
    flex-direction: column;
    width: 267px;
    height: 177px;
}

.experience-info__list6 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experience-info__list-item6 {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    box-sizing: border-box;
    color: #000;
    background: #fff;
    
}

.experience-info__list-item.selected6 {
    color: #000;
        width: 67px;
    height: 23px;
        display: flex;
    align-items: center;      
    justify-content: center;  
}

.experience-info__header6 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experience-info_period6 {
    font-size: 10px;
    line-height: 150%;
    font-weight: 400;
        width: 100%;
    text-align: center;
    display: block;
}

.experience-info__label6 {
    color: #DDF163;
    background-color: rgba(126, 115, 18, 0.4);
    line-height: 155%;
    font-size: 8px;
    padding: 2px 6px;
    border-radius: 59px;
}

.experience-info__content6 {
    display: flex;
    justify-content: space-between;
}

.experience-info__job6 {
    display: flex;
    flex-direction: column;
}

.experience-info__job-specialty6 {
    font-size: 10px;
    line-height: 150%;
    font-weight: 500;
    margin-top: 10px;
}

.experience-info__job-bottom6 {
    display: flex;
    align-items: center;
    gap: 6px;
}

.experience-info__list-item.selected6 .experience-info__job-bottom6{
    color: #EBF9F2;

}

.experience-info__job-name6,
.experience-info__job-time6 {
    font-size: 8px;
    line-height: 150%;
}

.experience-info__responsibility-list6 {
    width: 239px;
}

.experience-info__responsibility-list-item6 {
    font-size: 8px;
    line-height: 150%;
}

.sp {
        font-size: 8px;
    line-height: 150%;
    margin-top: 16px;
}

.education-row {
    display: flex;
    gap: 10px; 
    width: 100%;
    flex-wrap: nowrap; 
    margin-top: 15px;
}

