

.experience-info__list1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.experience-info__list-item1 {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    box-sizing: border-box;
    color: #000;
    background: #fff;
    
}

.experience-info__list-item.selected1 {
    color: #000;
    width: 387px;
    height: 108px;
}

.experience-info__header1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.experience-info_period1 {
    font-size: 8px;
    line-height: 150%;
    font-weight: 500;
}

.experience-info__label1 {
    color: #DDF163;
    background-color: rgba(126, 115, 18, 0.4);
    line-height: 155%;
    font-size: 8px;
    padding: 2px 6px;
    border-radius: 59px;
}

.experience-info__content1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.experience-info__job1 {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
        margin-top: 0; 
    padding-top: 0;
}

.experience-info__job-specialty1 {
    font-size: 10px;
    font-weight: 500;
        line-height: 1.2; 
    margin-bottom: 2px;
        margin-top: 6px;
}

.experience-info__job-bottom1 {
    display: flex;
    align-items: center;
    gap: 6px;
        line-height: 1.2;
}

.experience-info__list-item.selected1 .experience-info__job-bottom1 {
    color: #3F3D3D;

}

.experience-info__job-name1,
.experience-info__job-time1 {
    font-size: 8px;
    line-height: 150%;
}

.experience-info__responsibility-list1 {
        margin-top: 5px; 
    padding-top: 0;
}

.experience-info__responsibility-list-item1 {
    font-size: 8px;
    line-height: 150%;
    width: 100%; 
    max-width: 199px;
    text-overflow: ellipsis; 
    line-height: 1.4; 

}