.experience-info2 {
    display: flex;
    flex-direction: column;
    width: 267px;
    height: 177px;
}

.experience-info__list8 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experience-info__list-item8 {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    box-sizing: border-box;
    color: #000;
    background: #fff;
    
}

.experience-info__list-item.selected8 {
    color: #000;
        width: 86px;
    height: 23px;
        display: flex;
    align-items: center;      
    justify-content: center;  
    margin-right: 16px;
}

.experience-info__header8 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experience-info_period8 {
    font-size: 10px;
    line-height: 150%;
    font-weight: 400;
        width: 100%;
    text-align: center;
    display: block;
}

.experience-info__label8 {
    color: #DDF163;
    background-color: rgba(126, 115, 18, 0.4);
    line-height: 155%;
    font-size: 8px;
    padding: 2px 6px;
    border-radius: 59px;
}

.experience-info__content8 {
    display: flex;
    justify-content: space-between;
}

.experience-info__job8 {
    display: flex;
    flex-direction: column;
}

.experience-info__job-specialty8 {
    font-size: 10px;
    line-height: 150%;
    font-weight: 500;
    margin-top: 10px;
}

.experience-info__job-bottom8 {
    display: flex;
    align-items: center;
    gap: 6px;
}

.experience-info__list-item.selected8 .experience-info__job-bottom8{
    color: #EBF9F2;

}

.experience-info__job-name8,
.experience-info__job-time8 {
    font-size: 8px;
    line-height: 150%;
}

.experience-info__responsibility-list8 {
    width: 239px;
}

.experience-info__responsibility-list-item8 {
    font-size: 8px;
    line-height: 150%;
}

.sp {
        font-size: 8px;
    line-height: 150%;
    margin-top: 16px;
}

.education-row {
    display: flex;
    gap: 10px; 
    width: 100%;
    flex-wrap: nowrap; 
    margin-top: 15px;
}

.experience-info__list9 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experience-info__list-item9 {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    box-sizing: border-box;
    color: #000;
    background: #fff;
    
}

.experience-info__list-item.selected9 {
    color: #000;
        width: 121px;
    height: 23px;
        display: flex;
    align-items: center;      
    justify-content: center;  
    margin-right: 16px;
    margin-top: -5px;
}

.experience-info__header9 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experience-info_period9 {
    font-size: 10px;
    line-height: 150%;
    font-weight: 400;
        width: 100%;
    text-align: center;
    display: block;
}

.experience-info__label9 {
    color: #DDF163;
    background-color: rgba(126, 115, 18, 0.4);
    line-height: 155%;
    font-size: 8px;
    padding: 2px 6px;
    border-radius: 59px;
}

.experience-info__content9 {
    display: flex;
    justify-content: space-between;
}

.experience-info__job9 {
    display: flex;
    flex-direction: column;
}

.experience-info__job-specialty9 {
    font-size: 10px;
    line-height: 150%;
    font-weight: 500;
    margin-top: 10px;
}

.experience-info__job-bottom9 {
    display: flex;
    align-items: center;
    gap: 6px;
}

.experience-info__list-item.selected9 .experience-info__job-bottom9{
    color: #EBF9F2;

}

.experience-info__job-name9,
.experience-info__job-time9 {
    font-size: 8px;
    line-height: 150%;
}

.experience-info__responsibility-list9 {
    width: 239px;
}

.experience-info__responsibility-list-item9 {
    font-size: 8px;
    line-height: 150%;
}

.experience-info__list10 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experience-info__list-item10 {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    box-sizing: border-box;
    color: #000;
    background: #fff;
    
}

.experience-info__list-item.selected10 {
    color: #000;
        width: 79px;
    height: 23px;
        display: flex;
    align-items: center;      
    justify-content: center;  
    margin-right: 16px;
    margin-top: -5px;
}

.experience-info__header10 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experience-info_period10 {
    font-size: 10px;
    line-height: 150%;
    font-weight: 400;
        width: 100%;
    text-align: center;
    display: block;
}

.experience-info__label10 {
    color: #DDF163;
    background-color: rgba(126, 115, 18, 0.4);
    line-height: 155%;
    font-size: 8px;
    padding: 2px 6px;
    border-radius: 59px;
}

.experience-info__content10 {
    display: flex;
    justify-content: space-between;
}

.experience-info__job810 {
    display: flex;
    flex-direction: column;
}

.experience-info__job-specialty10 {
    font-size: 10px;
    line-height: 150%;
    font-weight: 500;
    margin-top: 10px;
}

.experience-info__job-bottom10 {
    display: flex;
    align-items: center;
    gap: 6px;
}

.experience-info__list-item.selected10 .experience-info__job-bottom10{
    color: #EBF9F2;

}

.experience-info__job-name10,
.experience-info__job-time10 {
    font-size: 8px;
    line-height: 150%;
}

.experience-info__responsibility-list10 {
    width: 239px;
}

.experience-info__responsibility-list-item10 {
    font-size: 8px;
    line-height: 150%;
}

.experience-info__list11 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experience-info__list-item11 {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    box-sizing: border-box;
    color: #000;
    background: #fff;
    
}

.experience-info__list-item.selected11 {
    color: #000;
        width: 65px;
    height: 23px;
        display: flex;
    align-items: center;      
    justify-content: center;  
    margin-right: 16px;
    margin-top: -5px;
}

.experience-info__header11 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experience-info_period11 {
    font-size: 10px;
    line-height: 150%;
    font-weight: 400;
        width: 100%;
    text-align: center;
    display: block;
}

.experience-info__label11 {
    color: #DDF163;
    background-color: rgba(126, 115, 18, 0.4);
    line-height: 155%;
    font-size: 8px;
    padding: 2px 6px;
    border-radius: 59px;
}

.experience-info__content11 {
    display: flex;
    justify-content: space-between;
}

.experience-info__job11 {
    display: flex;
    flex-direction: column;
}

.experience-info__job-specialty11 {
    font-size: 10px;
    line-height: 150%;
    font-weight: 500;
    margin-top: 10px;
}

.experience-info__job-bottom11 {
    display: flex;
    align-items: center;
    gap: 6px;
}

.experience-info__list-item.selected11 .experience-info__job-bottom11{
    color: #EBF9F2;

}

.experience-info__job-name11,
.experience-info__job-time11 {
    font-size: 8px;
    line-height: 150%;
}

.experience-info__responsibility-list11 {
    width: 239px;
}

.experience-info__responsibility-list-item11 {
    font-size: 8px;
    line-height: 150%;
}

.experience-info__list12 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experience-info__list-item12 {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    box-sizing: border-box;
    color: #000;
    background: #fff;
    
}

.experience-info__list-item.selected12 {
    color: #000;
        width: 73px;
    height: 23px;
        display: flex;
    align-items: center;      
    justify-content: center;  
    margin-top: -5px;
    transform: translateX(-15px);
}

.experience-info__header12 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experience-info_period12 {
    font-size: 10px;
    line-height: 150%;
    font-weight: 400;
        width: 100%;
    text-align: center;
    display: block;
}

.experience-info__label12 {
    color: #DDF163;
    background-color: rgba(126, 115, 18, 0.4);
    line-height: 155%;
    font-size: 8px;
    padding: 2px 6px;
    border-radius: 59px;
}

.experience-info__content12 {
    display: flex;
    justify-content: space-between;
}

.experience-info__job12 {
    display: flex;
    flex-direction: column;
}

.experience-info__job-specialty12 {
    font-size: 10px;
    line-height: 150%;
    font-weight: 500;
    margin-top: 10px;
}

.experience-info__job-bottom12 {
    display: flex;
    align-items: center;
    gap: 6px;
}

.experience-info__list-item.selected12 .experience-info__job-bottom12{
    color: #EBF9F2;

}

.experience-info__job-name12,
.experience-info__job-time12 {
    font-size: 8px;
    line-height: 150%;
}

.experience-info__responsibility-list12 {
    width: 239px;
}

.experience-info__responsibility-list-item12 {
    font-size: 8px;
    line-height: 150%;
}

.experience-info__list13 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experience-info__list-item13 {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    box-sizing: border-box;
    color: #000;
    background: #fff;
    
}

.experience-info__list-item.selected13 {
    color: #000;
        width: 97px;
    height: 23px;
        display: flex;
    align-items: center;      
    justify-content: center;  
    margin-top: -5px;
    transform: translateX(-35px);
}

.experience-info__header13 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experience-info_period13 {
    font-size: 10px;
    line-height: 150%;
    font-weight: 400;
        width: 100%;
    text-align: center;
    display: block;
}

.experience-info__label13 {
    color: #DDF163;
    background-color: rgba(126, 115, 18, 0.4);
    line-height: 155%;
    font-size: 8px;
    padding: 2px 6px;
    border-radius: 59px;
}

.experience-info__content13 {
    display: flex;
    justify-content: space-between;
}

.experience-info__job13 {
    display: flex;
    flex-direction: column;
}

.experience-info__job-specialty13 {
    font-size: 10px;
    line-height: 150%;
    font-weight: 500;
    margin-top: 10px;
}

.experience-info__job-bottom13 {
    display: flex;
    align-items: center;
    gap: 6px;
}

.experience-info__list-item.selected13 .experience-info__job-bottom13{
    color: #EBF9F2;

}

.experience-info__job-name13,
.experience-info__job-time13 {
    font-size: 8px;
    line-height: 150%;
}

.experience-info__responsibility-list13 {
    width: 239px;
}

.experience-info__responsibility-list-item13 {
    font-size: 8px;
    line-height: 150%;
}

.experience-info__list14 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experience-info__list-item14 {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    box-sizing: border-box;
    color: #000;
    background: #fff;
    
}

.experience-info__list-item.selected14 {
    color: #000;
        width: 68px;
    height: 23px;
        display: flex;
    align-items: center;      
    justify-content: center;  
    margin-right: 16px;
    margin-top: -5px;
    transform: translateX(-15px);
}

.experience-info__header14 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experience-info_period14 {
    font-size: 10px;
    line-height: 150%;
    font-weight: 400;
        width: 100%;
    text-align: center;
    display: block;
}

.experience-info__label14 {
    color: #DDF163;
    background-color: rgba(126, 115, 18, 0.4);
    line-height: 155%;
    font-size: 8px;
    padding: 2px 6px;
    border-radius: 59px;
}

.experience-info__content14 {
    display: flex;
    justify-content: space-between;
}

.experience-info__job14 {
    display: flex;
    flex-direction: column;
}

.experience-info__job-specialty14 {
    font-size: 10px;
    line-height: 150%;
    font-weight: 500;
    margin-top: 10px;
}

.experience-info__job-bottom14 {
    display: flex;
    align-items: center;
    gap: 6px;
}

.experience-info__list-item.selected14 .experience-info__job-bottom14{
    color: #EBF9F2;

}

.experience-info__job-name14,
.experience-info__job-time14 {
    font-size: 8px;
    line-height: 150%;
}

.experience-info__responsibility-list14 {
    width: 239px;
}

.experience-info__responsibility-list-item14 {
    font-size: 8px;
    line-height: 150%;
}

.experience-info__list15 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experience-info__list-item15 {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    box-sizing: border-box;
    color: #000;
    background: #fff;
    
}

.experience-info__list-item.selected15 {
    color: #000;
        width: 56px;
    height: 23px;
        display: flex;
    align-items: center;      
    justify-content: center;  
    margin-top: -5px;
    transform: translateX(-30px);
}

.experience-info__header15 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experience-info_period15 {
    font-size: 10px;
    line-height: 150%;
    font-weight: 400;
        width: 100%;
    text-align: center;
    display: block;
}

.experience-info__label15 {
    color: #DDF163;
    background-color: rgba(126, 115, 18, 0.4);
    line-height: 155%;
    font-size: 8px;
    padding: 2px 6px;
    border-radius: 59px;
}

.experience-info__content15 {
    display: flex;
    justify-content: space-between;
}

.experience-info__job15 {
    display: flex;
    flex-direction: column;
}

.experience-info__job-specialty15 {
    font-size: 10px;
    line-height: 150%;
    font-weight: 500;
    margin-top: 10px;
}

.experience-info__job-bottom15 {
    display: flex;
    align-items: center;
    gap: 6px;
}

.experience-info__list-item.selected15 .experience-info__job-bottom15{
    color: #EBF9F2;

}

.experience-info__job-name15,
.experience-info__job-time15 {
    font-size: 8px;
    line-height: 150%;
}

.experience-info__responsibility-list15 {
    width: 239px;
}

.experience-info__responsibility-list-item15 {
    font-size: 8px;
    line-height: 150%;
}