.experience-info1 {
    display: flex;
    flex-direction: column;
    width: 268px;
    height: 289px;
}

.experience-info__list3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experience-info__list-item3 {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    box-sizing: border-box;
    color: #000;
    background: #fff;
    
}

.experience-info__list-item.selected3 {
    color: #fff;
    background: #28D979;
        width: 116px;
    height: 120px;
}

.experience-info__header3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experience-info_period3 {
    font-size: 10px;
    line-height: 150%;
    font-weight: 500;
}

.experience-info__label3 {
    color: #DDF163;
    background-color: rgba(126, 115, 18, 0.4);
    line-height: 155%;
    font-size: 8px;
    padding: 2px 6px;
    border-radius: 59px;
}

.experience-info__content3 {
    display: flex;
    justify-content: space-between;
}

.experience-info__job3 {
    display: flex;
    flex-direction: column;
}

.experience-info__job-specialty3 {
    font-size: 10px;
    line-height: 150%;
    font-weight: 500;
    margin-top: 8px;
}

.experience-info__job-bottom3 {
    display: flex;
    align-items: center;
    gap: 6px;
}

.experience-info__list-item.selected3 .experience-info__job-bottom3{
    color: #EBF9F2;

}

.experience-info__job-name3,
.experience-info__job-time3 {
    font-size: 8px;
    line-height: 150%;
}

.experience-info__responsibility-list3 {
    width: 239px;
}

.experience-info__responsibility-list-item3 {
    font-size: 8px;
    line-height: 150%;
}

.sp8 {
    font-size: 8px;
    line-height: 150%;
    margin-top: 6px;
}

.education-row {
    display: flex;
    gap: 10px; 
    width: 100%;
    flex-wrap: nowrap; 
    margin-top: 15px;
}

